.movieBar{
  marging:auto;
  margin-top: 20px;
  text-align: center;
  background-color: aliceblue;
  max-width:100%;
  max-height:20%;
  width: auto;
  height: auto;
}

.movieSearchBox{
  border-radius:30px;
  margin:auto;
  margin-bottom: 10px;
  width:10%;
  height:50px;
  font-size: 30px;
  -webkit-transition: width 0.4s ease-in-out;
  outline: none;

}

.movieSearchBox:focus{
  width:40%;

}
.searchButton{
  background-color: aliceblue;
}

.movieElementContainer{
  display: flex;
  background-color: aliceblue;
  justify-content: center;

}

.movieElementContainer >div{
  height:auto;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  background-color: white;
  border-width: .5px;
  padding:20px
}

.moviePoster{
  height:300px;
  width: 250px;
}

.ownedCheckBox{
  height: 100px;
  width:500px;

}


.ownedCheckBoxContainer{
  float:right;
  margin-top:7%;
  text-align: center;
  padding-right: 15%;
}
