.movieBar{
  marging:auto;
  margin-top: 20px;
  text-align: center;
  background-color: aliceblue;
}

.movieSearchBox{
  border:solid;
  border-radius:.5px;
  radius:200px;
  margin:auto;
  margin-bottom: 10px;

}

.searchButton{
  background-color: aliceblue;
}

.movieElementContainer{
  display: flex;
  background-color: aliceblue;
  justify-content: center;

}

.movieElementContainer >div{
  height:auto;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  background-color: white;
  border-width: .5px;
  padding:20px
}

.moviePoster{
  height:300px;
  width: 250px;
}

.ownedCheckBox{
  height: 50px;
  width:50px;

}


.ownedCheckBoxContainer{
  float:right;
  margin-top:15%;
  text-align: center;
  padding-right: 8%;
}
