.movieBar{
  margin-top: 20px;
  text-align: center;

  width: auto;
  height: auto;
}

.emptyResult{
  margin:auto;
  margin-top: 10%;
  font-size: 50px;
  color: grey;
}

.movieSearchButton{
  border-radius: 100%;
  border-width: .5px;
  height: 50px;
  width: 50px;
  outline: none;
  text-align: center;
  display: inline-block;
  position: absolute;
  top:10px;
}
.movieSearchBox{
  border-radius:30px;
  width:11%;
  height:50px;
  font-size: 30px;

  -webkit-transition: width 0.4s ease-in-out;
  outline: none;

}

.movieSearchBox:focus{
  width:40%;

}

.movieElementContainer{
  display: flex;
  background-color: aliceblue;
  justify-content: center;

}

.movieElementContainer >div{
  height:auto;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  background-color: white;
  border-width: .5px;
  padding:20px;
  font-size: 20px
}

.moviePoster{
  height:300px;
  width: 250px;
}

.ownedCheckBox{
  height: 100px;
  width:100px;

}


.ownedCheckBoxContainer{
  float:right;
  text-align: center;
  padding-right: 20%;
}
